<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.myapplication"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 카메라 핟웨어 없어도 설치 가능하게 설정 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- 위치 하드웨어가 없어도 설치 가능하게 -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- 필요 권한 선언 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="수어천사"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:networkSecurityConfig="@xml/network_security_config">


        <!-- FileProvider 설정 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- 메인 액티비티 설정 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ChatListActivity" />
        <activity android:name=".VideoPlayerActivity" />
        <activity android:name=".SettingsActivity" />

    </application>

</manifest>